.l-bg-blue {
    background: $blueColor;
    padding: 58px 0;
    text-align: center;
    address {
        color: #fff;
        font-family: $poppins;
        font-size: 20px;
        font-weight: 400;
        opacity: 52%;
    }
}