header {
    position: fixed;
    width: 100%;
    z-index: 3;
}
.l-head {
    padding: 51px 0;
    a {
        color: #D9F0FF;
    }
    &__logo {
        a {
            font-size: 28px;
            @include dancingScriptFont(700)
        }
    }
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .nav-list {
        display: flex;
        list-style: none;
        gap: 28px;
        li {
            @include poppinsFont();
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .08em;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 1px;
                position: absolute;
                background: #D9F0FF;
                left: 0;
                bottom: -5px;
            }
            &:hover {
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    transition: width .5s ease-out;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .l-head {
        justify-content: space-around;
    }
    
}