@mixin setWidth ($width: 1280px) {
    width: $width;
}
@mixin latoFont ($weight: 400) {
    font-family: "Lato", sans-serif;
    font-weight: $weight;
}
@mixin poppinsFont ($weight: 400) {
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
}
@mixin dancingScriptFont ($weight: 400) {
    font-family: "Dancing Script", sans-serif;
    font-weight: $weight;
}