.p-video-container {
    position: relative;
    z-index: 1;
    &__bg {
        img {
            width: 100%;
        }
    }
    .compo-title {
        position: absolute;
        color: #fff;
        width: 100%;
        top: 0;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        padding: 0;
        svg {
            margin-bottom: 50px;
        }
        p {
            opacity: 1;
        }
    }
    .video-layer {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}
@media screen and (max-width: 800px) {
    .p-video-container {
        .compo-title {
            top: 0;
        }
    }
}