.p-video-container {
    position: relative;
    z-index: 1;
    &__bg {
        img {
            width: 100%;
        }
    }
    .compo-title {
        position: absolute;
        color: #fff;
        width: 100%;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        svg {
            margin-bottom: 50px;
        }
        p {
            opacity: 100%;
        }
    }
    .video-layer {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}