.c-blog {
    display: flex;
    width: 100%;
    .c-blog-info {
        width: calc(50% - 172px);
        padding: 0 86px;
        display: inline-flex;
        flex-direction: column;
        padding-top: 93px;
        h2, p {
            width: 468px;
        }
        h2 {
            margin-bottom: 45px;
            line-height: 67px;
            font-size: 50px;
            padding-bottom: 30px;
            @include latoFont(300)
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            padding-bottom: 50px;
            opacity: 0.5;
            @include poppinsFont();
        }
    }
    .c-blog-img {
        width: 50%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
.c-blog-reverse {
    flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
    .c-blog {
        display: inline-block;
        position: relative;
        .c-blog-info, .c-blog-img {
            width: 100%;
        }
        .c-blog-info {
            position: absolute;
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: rgba($color: #eeeeee, $alpha: 0.6);
        }
    }
    
}