.c-main-btn {
    width: 307px;
    background: $blueColor;
    padding: 27px 0;
    border-radius: 36px;
    text-align: center;
    position: relative;
    a {
        z-index: 2;
        font-family: $lato;
        color: #FFFF;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.18em;
        &::before {
            z-index: 0;
            content: "";
            width: 0;
            background: rgba($color: #3c4c89, $alpha: 0.5);
            position: absolute;
            border-radius: 36px;
            top: 0;
            left: 0;
            height: 100%;
        }
        &:hover {
            &::before {
                content: "";
                width: 100%;
                transition: width .2s ease-out;
            }
        }
    }

}