.p-services__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 55px;
    &__box {
        width: calc(100% / 3 - 21.6px);
        text-align: center;
        background: #fff;
        border: 1px solid #CECECE;
        .p-services-inner {
            width: 251px;
            margin: 0 auto;
            padding: 67px 0 48px 0;
            img {
                width: 88px;
                height: 88px;
                margin-bottom: 20px;
            }
            h5 {
                margin-bottom: 20px;
                font-size: 18px;
            }
            p {
                line-height: 25px;
                font-size: 16px;
                font-weight: 300;
                opacity: 65%;
            }
            .icon-box {
                width: 80px;
                height: 80px;
                background: $blueColor;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-bottom: 32px;
            }
        }
    }

}