$font-family: "Helvetica", "san-serif";
$blue-color: #415ae6;
$bluelight-color: #6c7fe6;
@mixin innerWidth($width : 800px) {
    width: $width;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}
.head {
    &__logo {
        background: #415ae6;
        color: #fff;
        padding: 30px;
        font-size: 13px;
        text-align: center;
    }
}
.head__nav {
    &__menu {
        display: flex;
        list-style: none;
        gap: 1px;
        li {
            width: calc(100% / 3);
            background: #c0c0c0;
            text-align: center;
            padding: 20px 0;
        }
        a {
            &:hover {
                color: #494949;
            }
        }
    }
}
a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.inner-width {
    @include innerWidth(1000px);
}
.mx-auto {
    margin: 0 auto;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &__card {
        width: calc(100% / 3 - 7px);
    }
    &__img {
        overflow: hidden;
        height: 300px;
        &:hover img {
            transform: scale(1.2);
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            transition: 0.5s all ease-in-out;
        }
    }
}
.products-btn {
    background: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 5px 20px;
    position: relative;
    border: 1px solid $blue-color;
    border-right: 2px solid $blue-color;
    border-bottom: 2px solid $blue-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: skewX(-30deg);
    transition: 1s ease-out;
    background-size: 200%;
    &:hover {
        background: $bluelight-color;
        background-position: left;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        a {
            transition: 0.5s;
            color: white;
        }
    }
}
.faq {
    margin: 20px auto;
    dt {
        background: $blue-color;
        padding: 20px 30px;
        color: #fff;
        position: relative;
        &::after {
           content: "+"; 
           position: absolute;
           right: 0;
           padding-right: 30px;
           font-size: 20px;
        }
    }
    dd {
        padding: 20px 30px;
    }
}
.footer-bg {
    background: $blue-color;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}